@font-face {
  font-family: Kimjungchulgothic;
  src: url('../fonts/KimjungchulGothic-Regular.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Kimjungchulgothic;
  src: url('../fonts/KimjungchulGothic-Light.otf') format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Kimjungchulgothic;
  src: url('../fonts/KimjungchulGothic-Bold.otf') format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --link-color--link-primary: var(--base-color-brand--blue);
  --transparent: var(--base-color-neutral--black);
  --text-color--text-alternate: var(--base-color-neutral--white);
  --text-color--text-primary: var(--base-color-neutral--black);
  --background-color--background-secondary: #c00;
  --background-color--background-success: var(--base-color-system--success-green);
  --text-color--text-success: var(--base-color-system--success-green-dark);
  --border-color--border-primary: var(--base-color-neutral--neutral-lightest);
  --background-color--background-alternate: var(--base-color-neutral--white);
  --text-color--text-secondary: var(--base-color-neutral--neutral-darker);
  --background-color--background-warning: var(--base-color-system--warning-yellow);
  --background-color--background-tertiary: var(--base-color-brand--blue);
  --background-color--background-error: var(--base-color-system--error-red);
  --text-color--text-error: var(--base-color-system--error-red-dark);
  --border-color--border-alternate: var(--base-color-neutral--neutral-darker);
  --background-color--background-secondary-hover: #920707;
  --link-color--link-alternate: var(--base-color-neutral--white);
  --base-color-brand--pink-light: #ffaecd;
  --text-color--text-warning: var(--base-color-system--warning-yellow-dark);
  --base-color-neutral--neutral-light: #aaa;
  --base-color-neutral--white: #fff;
  --base-color-neutral--black: #000;
  --base-color-neutral--neutral-lighter: #ccc;
  --base-color-neutral--neutral-light-variant: #fafaf9;
  --base-color-neutral--neutral: #666;
  --background-color--background-youtube: #ff0301;
  --base-color-brand--purple-dark: #250c07;
  --base-color-brand--pink-dark: #3c043b;
  --base-color-system--success-green: #cef5ca;
  --base-color-brand--blue-light: #d9e5ff;
  --base-color-brand--blue: #2d62ff;
  --base-color-brand--blue-dark: #080331;
  --base-color-brand--pink: #dd23bb;
  --base-color-neutral--neutral-lightest: #eee;
  --base-color-neutral--neutral-dark: #444;
  --base-color-neutral--neutral-darker: #222;
  --base-color-neutral--neutral-darkest: var(--base-color-neutral--neutral-light-variant);
  --base-color-system--success-green-dark: #114e0b;
  --base-color-system--warning-yellow: #fcf8d8;
  --base-color-system--warning-yellow-dark: #5e5515;
  --base-color-system--error-red: #f8e4e4;
  --base-color-system--error-red-dark: #3b0b0b;
  --base-color-system--focus-state: #2d62ff;
  --border-color--border-secondary: var(--base-color-brand--blue);
  --link-color--link-secondary: var(--base-color-neutral--black);
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

body {
  color: #000;
  font-family: Kimjungchulgothic, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

p {
  margin-bottom: 0;
}

a {
  color: var(--link-color--link-primary);
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5rem;
}

li {
  margin-bottom: .25rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .25rem;
  font-weight: 500;
}

blockquote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figcaption {
  text-align: center;
  margin-top: .25rem;
}

.utility-page_component {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility-page_wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 20rem;
  display: flex;
}

.utility-page_form {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_image {
  margin-left: auto;
  margin-right: auto;
}

.global-styles {
  color: #000;
  display: block;
  position: fixed;
  inset: 0% auto auto 0%;
}

.margin-custom2 {
  margin: 2.5rem;
}

.padding-xlarge {
  padding: 4rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-xsmall {
  margin: .5rem;
}

.padding-xhuge {
  padding: 8rem;
}

.margin-custom1 {
  margin: 1.5rem;
}

.padding-0 {
  padding: 0;
}

.padding-xxhuge {
  padding: 12rem;
}

.padding-huge {
  padding: 6rem;
}

.margin-large {
  margin: 3rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.margin-xxsmall {
  margin: .25rem;
}

.padding-custom3 {
  padding: 3.5rem;
}

.padding-large {
  padding: 3rem;
}

.margin-tiny {
  margin: .125rem;
}

.padding-small {
  padding: 1rem;
}

.padding-custom2 {
  padding: 2.5rem;
}

.margin-custom3 {
  margin: 3.5rem;
}

.padding-custom1 {
  padding: 1.5rem;
}

.margin-huge {
  margin: 6rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-xsmall {
  padding: .5rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.padding-xxsmall {
  padding: .25rem;
}

.margin-xhuge {
  margin: 8rem;
}

.padding-tiny {
  padding: .125rem;
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-xxhuge {
  margin: 12rem;
}

.margin-0 {
  margin: 0;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.form_checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.form_checkbox-icon {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-checked {
  background-size: 90%;
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-focus {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.fs-styleguide_background {
  border: 1px solid #0000001a;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.fs-styleguide_spacing {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-image: linear-gradient(to top, #2d40ea1a, #fff0);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start stretch;
  display: grid;
  position: relative;
}

.icon-1x1-small {
  flex: none;
  width: 1rem;
  height: 1rem;
}

.overflow-auto {
  overflow: auto;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.icon-1x1-large {
  width: 2.5rem;
  height: 2.5rem;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.fs-styleguide_background-space {
  width: 1px;
  height: 1px;
  margin: 5rem;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.fs-styleguide_item {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  border-bottom: 1px solid #0000001a;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start;
  padding-bottom: 3rem;
  display: grid;
  position: relative;
}

.fs-styleguide_item.is-stretch {
  justify-items: stretch;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.fs-styleguide_item-header {
  border-bottom: 1px solid #0000001a;
  width: 100%;
  padding-bottom: 2rem;
}

.background-color-primary {
  background-color: var(--transparent);
  color: var(--text-color--text-alternate);
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.text-color-primary {
  color: var(--text-color--text-primary);
}

.text-color-secondary {
  color: var(--background-color--background-secondary);
  font-size: 1.2rem;
}

.fs-styleguide_2-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.fs-styleguide_2-col.is-align-start {
  align-items: start;
}

.form_message-success {
  background-color: var(--background-color--background-success);
  color: var(--text-color--text-success);
  padding: 1.25rem;
}

.fs-styleguide_row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-style-h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.text-rich-text h1, .text-rich-text h2, .text-rich-text h3, .text-rich-text h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h5, .text-rich-text h6 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.text-rich-text p {
  margin-bottom: 1rem;
}

.text-rich-text ul, .text-rich-text ol {
  margin-bottom: 1.5rem;
}

.text-rich-text blockquote {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pointer-events-auto {
  pointer-events: auto;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-small {
  height: 1rem;
}

.icon-1x1-medium {
  width: 2rem;
  height: 2rem;
}

.heading-style-h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

.heading-style-h1.text-color-alternate.text-align-center {
  font-size: 3.5rem;
  position: static;
}

.heading-style-h1.is-blog-heading, .heading-style-h1.is-contact-h1 {
  font-size: 3rem;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.padding-global.padding-section-large {
  color: #000;
}

.text-weight-normal {
  font-weight: 400;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.text-color-alternate {
  color: var(--text-color--text-alternate);
}

.text-style-italic {
  font-style: italic;
}

.pointer-events-none {
  pointer-events: none;
}

.text-weight-medium {
  font-weight: 500;
}

.overflow-hidden {
  overflow: hidden;
}

.fs-styleguide_section-header {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid var(--border-color--border-primary);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  padding-bottom: 3rem;
  line-height: 1.4;
  display: grid;
}

.text-size-tiny {
  font-size: .75rem;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.fs-styleguide_1-col {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.overflow-visible {
  overflow: visible;
}

.fs-styleguide_empty-box {
  z-index: -1;
  background-color: #2d40ea0d;
  border: 1px dashed #2d40ea;
  min-width: 3rem;
  height: 3rem;
  position: relative;
}

.text-weight-light {
  font-weight: 300;
}

.fs-styleguide_heading-medium {
  font-size: 4rem;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.fs-styleguide_4-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.text-size-regular {
  font-size: 1rem;
}

.text-weight-xbold {
  font-weight: 800;
}

.text-align-right {
  text-align: right;
}

.text-weight-bold {
  font-weight: 700;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.fs-styleguide_item-wrapper {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.fs-styleguide_header-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-items: center start;
  display: grid;
}

.background-color-alternate {
  background-color: var(--background-color--background-alternate);
}

.text-style-muted {
  opacity: .6;
}

.text-size-small {
  font-size: .875rem;
}

.heading-style-h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.form_radio-icon {
  width: .875rem;
  height: .875rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
}

.form_radio-icon.w--redirected-checked {
  border-width: .25rem;
  width: .875rem;
  height: .875rem;
}

.form_radio-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.text-style-nowrap {
  white-space: nowrap;
}

.text-align-left {
  text-align: left;
}

.background-color-secondary {
  background-color: var(--background-color--background-secondary);
}

.form_input {
  border: 1px solid var(--border-color--border-primary);
  background-color: #0000;
  min-height: 3rem;
  margin-bottom: .75rem;
  padding: .5rem 1rem;
  font-size: 1rem;
}

.form_input::placeholder, .form_input.is-select-input {
  color: var(--text-color--text-secondary);
}

.form_input.is-text-area {
  min-height: 8rem;
  padding-top: .75rem;
  font-size: 1rem;
}

.heading-style-h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.fs-styleguide_3-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  width: 100%;
  display: grid;
}

.fs-styleguide_3-col.is-align-start {
  align-items: start;
}

.text-style-link {
  color: var(--link-color--link-primary);
  text-decoration: underline;
}

.text-size-large {
  font-size: 1.5rem;
}

.text-size-large.is-white-text {
  color: var(--text-color--text-alternate);
  align-self: center;
}

.fs-styleguide_header {
  background-color: var(--background-color--background-warning);
  color: var(--text-color--text-alternate);
  background-image: radial-gradient(circle at 100% 100%, #dd23bb40, #0000 40%), radial-gradient(circle at 0 100%, #2d62ff4d, #0000 60%);
}

.heading-style-h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.heading-style-h2.text-color-alternate.is-slider-heading {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.fs-styleguide_label {
  background-color: var(--background-color--background-secondary);
  color: var(--text-color--text-alternate);
  border-radius: .25rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: .25rem .75rem .3rem;
  font-weight: 600;
  display: flex;
}

.fs-styleguide_label.is-tag {
  background-color: var(--background-color--background-tertiary);
}

.heading-style-h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-medium {
  height: 2rem;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.overflow-scroll {
  overflow: scroll;
}

.form_message-error {
  background-color: var(--background-color--background-error);
  color: var(--text-color--text-error);
  margin-top: .75rem;
  padding: .75rem;
}

.icon-height-large {
  height: 3rem;
}

.text-align-center {
  text-align: center;
}

.form_component {
  margin-bottom: 0;
}

.main-wrapper {
  position: static;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0%;
}

.text-style-quote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: var(--transparent);
  color: var(--text-color--text-alternate);
  text-align: center;
  border-radius: 0;
  align-self: center;
  padding: .75rem 1.5rem;
  font-weight: 600;
}

.button.is-text {
  color: #000;
  background-color: #0000;
  border: 2px solid #0000;
}

.button.is-small {
  border-radius: 0;
  padding: .5rem 1.25rem;
}

.button.is-large {
  border-radius: 0;
  padding: 1rem 2rem;
}

.button.is-secondary {
  border: 3px solid var(--border-color--border-alternate);
  color: var(--text-color--text-primary);
  background-color: #0000;
  border-radius: 0;
}

.button.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.button.is-brand {
  background-color: var(--background-color--background-secondary);
  align-self: flex-start;
  position: relative;
}

.button.is-brand:hover {
  background-color: var(--background-color--background-secondary-hover);
}

.button.button-enquiry {
  background-color: var(--background-color--background-secondary);
  border-radius: 0;
  font-weight: 400;
  transition: background-color .2s;
}

.button.button-enquiry:hover {
  background-color: var(--background-color--background-secondary-hover);
  mix-blend-mode: normal;
}

.button.is-secondary-ghost {
  border: 2px solid var(--link-color--link-alternate);
  background-color: #0000;
  font-weight: 400;
  transition: color .2s, border-color .2s;
}

.button.is-secondary-ghost:hover {
  border-color: var(--base-color-brand--pink-light);
  color: var(--text-color--text-alternate);
}

.button.is-secondary-ghost-red {
  border: 3px solid var(--background-color--background-secondary);
  color: var(--background-color--background-secondary);
  background-color: #0000;
  transition: color .2s, border-color .2s;
}

.button.is-secondary-ghost-red:hover {
  border-color: var(--background-color--background-secondary-hover);
  color: var(--background-color--background-secondary-hover);
}

.fs-styleguide_classes {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-medium {
  float: none;
  color: var(--text-color--text-primary);
  font-size: 1.15rem;
}

.text-size-medium.is-text-red {
  float: none;
  color: var(--background-color--background-secondary-hover);
  text-align: center;
  position: relative;
}

.text-size-medium.is-text-pink {
  color: var(--base-color-brand--pink-light);
  text-align: center;
}

.text-size-medium.is-text-white {
  color: var(--background-color--background-error);
  text-align: center;
}

.fs-styleguide_section {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-items: start;
  display: grid;
}

.fs-styleguide_section.is-vertical {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.hide {
  display: none;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.form_radio {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.fs-styleguide_spacing-all {
  display: none;
}

.spacer-huge {
  width: 100%;
  padding-top: 6rem;
}

.spacer-medium {
  width: 100%;
  padding-top: 2rem;
}

.fs-styleguide_spacer-box {
  background-color: #2d40ea1a;
  border: 1px dashed #2d40ea;
  width: 100%;
  position: relative;
}

.spacer-xsmall {
  width: 100%;
  padding-top: .5rem;
}

.spacer-small {
  width: 100%;
  padding-top: 1rem;
}

.spacer-xhuge {
  width: 100%;
  padding-top: 8rem;
}

.spacer-tiny {
  width: 100%;
  padding-top: .125rem;
}

.spacer-xxsmall {
  width: 100%;
  padding-top: .25rem;
}

.spacer-xxhuge {
  width: 100%;
  padding-top: 12rem;
}

.spacer-xlarge {
  width: 100%;
  padding-top: 4rem;
}

.spacer-large {
  padding-top: 3rem;
}

.spacer-xxlarge {
  width: 100%;
  padding-top: 5rem;
}

.fs-styleguide_message {
  background-color: var(--background-color--background-warning);
  color: var(--text-color--text-warning);
  border-radius: .25rem;
  padding: .25rem .5rem;
  font-size: .875rem;
}

.nav_component {
  background-color: var(--background-color--background-alternate);
  width: 100%;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  position: relative;
  inset: 0% 0% auto;
}

.nav_container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.nav_logo {
  width: 14.75rem;
}

.nav_menu {
  padding-bottom: 0;
}

.nav_menu_link {
  color: var(--text-color--text-primary);
  padding: 1rem .7rem;
}

.nav_menu_link:hover {
  color: var(--background-color--background-secondary-hover);
}

.nav_menu_link.w--current {
  color: var(--text-color--text-primary);
}

.nav_menu_link.w--current:hover {
  color: var(--background-color--background-secondary-hover);
  text-decoration: none;
}

.nav_button {
  color: var(--base-color-neutral--black);
  padding: 1rem;
  display: none;
}

.aspect-ratio-square {
  aspect-ratio: 1;
  object-fit: cover;
}

.aspect-ratio-portrait {
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.aspect-ratio-landscape {
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.aspect-ratio-widescreen {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.background-color-tertiary {
  background-color: var(--background-color--background-tertiary);
}

.fs-styleguide_hero-label {
  color: var(--text-color--text-primary);
  text-transform: uppercase;
  background-color: #eee;
  border-radius: .25rem;
  padding: .25rem .375rem;
  font-size: .75rem;
  font-weight: 500;
  text-decoration: none;
}

.hero_content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start;
  max-width: 70rem;
  display: grid;
  position: relative;
}

.hero_image {
  border-radius: 1rem;
  margin-top: 0;
}

.section_hero {
  color: #000;
  -webkit-text-fill-color: inherit;
  background-color: #0000;
  background-image: linear-gradient(90deg, #000000bf 27%, #bfbfbf00 100%, #fff), url('../images/Imin2UK-home-hero-5.webp');
  background-position: 0 0, 0 0;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-clip: border-box;
  flex-direction: column;
  justify-content: center;
  height: 0;
  min-height: 48rem;
  max-height: none;
  margin-bottom: 0;
  display: flex;
  position: relative;
}

.hero_grid {
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
  color: #000;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.nav_fixed {
  z-index: auto;
  display: block;
  position: relative;
  inset: 0% 0% auto;
}

.fs-styleguide_heading-header {
  font-size: 6rem;
}

.dropdown-toggle {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  vertical-align: baseline;
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  width: auto;
  max-width: none;
  padding: 0;
  display: flex;
}

.dropdown {
  color: var(--text-color--text-primary);
  padding: 1rem .7rem;
}

.icon {
  clear: none;
  flex: 0 auto;
  order: 0;
  margin: auto auto auto 0;
  padding: 0;
  display: block;
  position: relative;
  inset: 0% 0% 0% auto;
}

.text-block {
  flex: 0 auto;
  position: relative;
}

.dropdown-list {
  border: 1px solid var(--base-color-neutral--neutral-lighter);
  background-color: #fff;
  border-radius: .5px;
  width: auto;
  padding: .5rem 2.5rem .5rem 0;
  display: none;
  top: 3rem;
}

.dropdown-link {
  color: var(--text-color--text-primary);
}

.dropdown-link:hover {
  color: var(--background-color--background-secondary-hover);
}

.footer {
  background-color: var(--base-color-neutral--neutral-light-variant);
  border-bottom: 1px solid #e4ebf3;
  padding: 5rem 30px 1rem;
  position: relative;
}

.container {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper-two {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.footer-block-two {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer-link {
  color: #1a1b1f;
  margin-top: 12px;
  text-decoration: none;
}

.footer-link:hover, .footer-link.w--current:hover {
  color: var(--background-color--background-secondary-hover);
}

.footer-divider-two {
  background-color: var(--base-color-neutral--neutral-lighter);
  width: 100%;
  height: 1px;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.footer-bottom {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  display: flex;
}

.footer-copyright {
  color: var(--base-color-neutral--neutral);
  font-size: .9rem;
}

.div-block {
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-block;
  position: relative;
}

.div-block-3 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  justify-content: space-between;
  display: flex;
}

.div-block-4 {
  flex-flow: column;
  display: flex;
}

.image-5 {
  max-width: 60px;
}

.image-6 {
  max-width: 24px;
}

.div-block-6 {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background-color: var(--background-color--background-youtube);
  border-radius: 20px;
  padding: 5px 15px 5px 10px;
  display: flex;
}

.text-block-2 {
  color: var(--text-color--text-alternate);
}

.link-2 {
  color: var(--text-color--text-primary);
  font-weight: 400;
  text-decoration: none;
}

.link-footer-bottom {
  color: var(--base-color-neutral--neutral);
  text-decoration: none;
}

.link-footer-bottom:hover {
  text-decoration: underline;
}

.link-block {
  text-decoration: none;
  position: relative;
}

.link-block.link-youtube {
  transform-style: preserve-3d;
}

.link-block.link-youtube:hover {
  transform: scale3d(1.05, 1.05, 1.05);
}

.process-button-block {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  display: flex;
}

.hero-text-upper {
  color: var(--base-color-brand--pink-light);
  font-size: 1.5rem;
  font-weight: 400;
}

.hero-text {
  color: var(--text-color--text-alternate);
  text-align: left;
  width: 43rem;
  min-width: auto;
  font-size: 4.3rem;
  font-weight: 700;
  line-height: 1.2em;
}

.text-block-5 {
  color: var(--text-color--text-alternate);
  width: 40rem;
  font-size: 1.5rem;
}

.section_home_grey {
  background-color: var(--base-color-neutral--neutral-light-variant);
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.home-badge-container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
}

.home-badge-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.home-badge {
  background-color: var(--background-color--background-secondary);
  padding: 12px;
}

.image-8 {
  filter: invert();
  width: 42px;
}

.section_home_intro {
  background-color: var(--background-color--background-alternate);
}

.heading {
  font-size: 2.8rem;
}

.section_home_slider {
  background-color: var(--base-color-brand--purple-dark);
  background-image: url('../images/art-l-t-1.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

.text-block-7 {
  color: var(--text-color--text-alternate);
  text-align: center;
  align-self: center;
  width: 24.5rem;
}

.text-block-8 {
  color: var(--text-color--text-alternate);
  align-self: center;
}

.text-block-8:hover {
  color: var(--base-color-brand--pink-light);
}

.image-9 {
  aspect-ratio: auto;
  object-fit: cover;
  align-self: center;
  width: 24.5rem;
  height: 15.5rem;
  overflow: hidden;
}

.slider-element {
  flex-flow: column;
  display: flex;
  position: relative;
}

.image-10 {
  filter: invert();
  width: 2rem;
  height: 2rem;
}

.slider-arrow-left-wrapper {
  background-color: var(--background-color--background-secondary);
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  position: relative;
  inset: 0%;
}

.slider-arrow-left-wrapper:hover {
  background-color: var(--background-color--background-secondary-hover);
}

.link-block-3 {
  align-self: center;
}

.link-block-3.is-slider-link {
  border-style: none none solid;
  border-width: 1px;
  border-color: var(--base-color-brand--pink-light);
  color: var(--text-color--text-alternate);
  -webkit-text-stroke-width: 0px;
  line-height: 2;
  text-decoration: none;
}

.link-block-3.is-slider-link:hover {
  border-style: none none solid;
  border-width: 1px;
  border-color: var(--base-color-brand--pink-dark);
}

.process-row {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-top: 1px none var(--base-color-neutral--neutral-light);
  border-bottom: 1px solid var(--base-color-neutral--neutral-lighter);
  flex-flow: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: grid;
}

.process-column-l {
  flex-flow: column;
  display: flex;
}

.process-sub-heading {
  font-size: 1.75rem;
}

.process-numbers {
  color: var(--background-color--background-secondary-hover);
  -webkit-text-stroke-width: .5px;
  font-size: 2rem;
}

.process-column-r {
  align-self: center;
}

.process-grid {
  padding-left: 8rem;
  padding-right: 8rem;
}

.hero-button-block {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-items: start;
  width: 20rem;
  display: grid;
}

.swiper {
  position: static;
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  display: flex;
}

.swiper-prev {
  z-index: 10;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -5%;
}

.swiper-next {
  z-index: 10;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -5%;
}

.slider-container {
  margin-bottom: 0;
  position: relative;
}

.swiper-pagination {
  position: absolute;
  inset: auto 0%;
}

.article-hero {
  background-color: var(--base-color-brand--purple-dark);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 12rem;
  display: flex;
}

.link_branded {
  color: var(--background-color--background-secondary-hover);
  text-decoration: none;
}

.link_branded:hover {
  color: var(--background-color--background-secondary);
  text-decoration: underline;
}

.post-hero {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  max-height: 20rem;
  display: block;
}

.blog-body h2 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.blog-body p {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 1.15rem;
}

.blog-body h3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.blog-body a {
  color: var(--background-color--background-secondary-hover);
  text-decoration: none;
}

.blog-body a:hover {
  color: var(--background-color--background-secondary);
  text-decoration: underline;
}

.contact-sub-heading {
  color: var(--background-color--background-secondary-hover);
  font-size: 1rem;
}

.contact-block {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  border-left: 2px solid var(--base-color-brand--pink-light);
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: 1rem;
  display: flex;
  position: relative;
}

.contact-qr-image {
  max-height: 150px;
  margin-top: .5rem;
  overflow: visible;
}

.contact-grid {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.textarea {
  min-height: 20rem;
}

.text-field {
  border: 1px solid var(--base-color-neutral--neutral-light);
}

.success-message {
  background-color: var(--base-color-system--success-green);
}

.contact-heading-block {
  flex-flow: column;
  align-items: flex-start;
  display: flex;
}

.youtube-icon {
  width: 2.25rem;
  height: 2.25rem;
}

.youtube-icon:hover {
  filter: brightness(80%);
}

.youtube-icon-wrapeer {
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-block;
}

.youtube-link-block-wrapper {
  display: none;
}

@media screen and (max-width: 991px) {
  .padding-xlarge {
    padding: 3rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-tablet {
    display: none;
  }

  .fs-styleguide_2-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .fs-styleguide_1-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 3rem;
  }

  .fs-styleguide_4-col {
    grid-template-columns: 1fr;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .fs-styleguide_3-col {
    grid-template-columns: 1fr;
  }

  .heading-style-h2.text-color-alternate.is-slider-heading {
    padding-left: 0;
    padding-right: 0;
  }

  .button.button-enquiry {
    display: block;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .spacer-huge {
    padding-top: 5rem;
  }

  .spacer-medium {
    padding-top: 1.5rem;
  }

  .spacer-xhuge {
    padding-top: 6rem;
  }

  .spacer-xxhuge {
    padding-top: 8rem;
  }

  .spacer-xlarge {
    padding-top: 3rem;
  }

  .spacer-large {
    padding-top: 2.5rem;
  }

  .spacer-xxlarge {
    padding-top: 4rem;
  }

  .nav_menu {
    border-style: none none solid;
    border-width: 1px;
    border-color: var(--base-color-neutral--neutral-light);
    background-color: var(--base-color-neutral--white);
    margin-bottom: 0;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    display: none;
  }

  .nav_menu_link {
    color: var(--text-color--text-primary);
    padding-top: .5rem;
    padding-bottom: .7rem;
  }

  .nav_button {
    color: var(--base-color-neutral--black);
  }

  .nav_button.w--open {
    background-color: var(--base-color-neutral--white);
    color: var(--base-color-neutral--black);
  }

  .section_hero {
    padding-top: 3rem;
  }

  .hero_grid {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
  }

  .fs-styleguide_heading-header {
    font-size: 4rem;
  }

  .dropdown-toggle {
    padding-bottom: .5rem;
  }

  .dropdown {
    z-index: auto;
    color: var(--text-color--text-primary);
    padding-top: .5rem;
    padding-bottom: .7rem;
  }

  .icon {
    display: none;
  }

  .dropdown-list {
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem;
    display: block;
  }

  .dropdown-link {
    padding: .5rem 1rem;
  }

  .image {
    display: block;
  }

  .image-2 {
    display: none;
  }

  .container {
    max-width: 728px;
  }

  .footer-wrapper-two {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    flex-flow: wrap;
  }

  .enquire-button {
    min-width: auto;
    max-width: 7.9rem;
    margin-top: .5rem;
    margin-bottom: .7rem;
    display: block;
  }

  .hero-text {
    width: 38rem;
    font-size: 3.8rem;
  }

  .text-block-5 {
    width: 35rem;
    font-size: 1.5rem;
  }

  .home-badge-container {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: wrap;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .home-badge-wrapper {
    justify-content: space-between;
    display: flex;
  }

  .text-block-7, .image-9 {
    width: 20rem;
  }

  .process-grid {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .swiper-prev {
    left: -4%;
  }

  .swiper-next {
    right: -4%;
  }

  .youtube-icon-wrapeer {
    display: none;
  }

  .youtube-link-block-wrapper {
    float: none;
    clear: none;
    text-align: left;
    vertical-align: baseline;
    min-width: auto;
    max-width: none;
    margin-left: 0%;
    padding: .5rem .7rem .7rem;
    display: block;
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: .875rem;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .heading-style-h3 {
    font-size: 1.5rem;
  }

  .heading-style-h1 {
    font-size: 2.5rem;
  }

  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .fs-styleguide_section-header {
    font-size: .875rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 2rem;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .heading-style-h4 {
    font-size: 1rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .heading-style-h6 {
    font-size: .75rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .heading-style-h2 {
    font-size: 2rem;
  }

  .heading-style-h5 {
    font-size: .875rem;
  }

  .text-size-medium {
    font-size: 1rem;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .spacer-huge {
    padding-top: 3.5rem;
  }

  .spacer-medium {
    padding-top: 1.25rem;
  }

  .spacer-xhuge {
    padding-top: 4rem;
  }

  .spacer-xxhuge {
    padding-top: 4.5rem;
  }

  .spacer-xlarge {
    padding-top: 2rem;
  }

  .spacer-large {
    padding-top: 1.5rem;
  }

  .spacer-xxlarge {
    padding-top: 3rem;
  }

  .footer {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-copyright {
    font-size: 14px;
    line-height: 20px;
    display: block;
  }

  .hero-text {
    width: 100%;
    font-size: 3rem;
  }

  .text-block-5 {
    width: 100%;
    font-size: 1.2rem;
  }

  .home-badge-container {
    flex-flow: wrap;
  }

  .text-block-7 {
    width: 20rem;
  }

  .image-9 {
    width: 20rem;
    height: 12rem;
  }

  .process-sub-heading {
    font-size: 1.5rem;
  }

  .process-grid {
    padding-left: 0;
    padding-right: 0;
  }

  .swiper-prev {
    left: -3%;
  }

  .swiper-next {
    right: -4%;
  }

  .contact-grid {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .fs-styleguide_row {
    flex-wrap: wrap;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .heading-style-h1.text-color-alternate.text-align-center {
    font-size: 2rem;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .heading-style-h2.text-color-alternate.is-slider-heading {
    padding-left: 0;
    padding-right: 0;
  }

  .container {
    max-width: none;
  }

  .footer-wrapper-two {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-block-two {
    margin-top: 40px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .hero-text {
    width: 100%;
    font-size: 3rem;
  }

  .text-block-5 {
    width: 100%;
    font-size: 1.2rem;
  }

  .home-badge-container {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
  }

  .text-block-7, .image-9 {
    width: 15rem;
  }

  .hero-button-block {
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
  }

  .swiper-prev {
    left: -5%;
  }

  .swiper-next {
    right: -5%;
  }
}

#w-node-_1ab12e57-1b61-3723-b12d-f8e0d12e893a-22099e30, #w-node-_573f4cff-4824-f652-13d4-04e40b3e6fec-22099e30, #w-node-_203b1ffb-e7ed-8522-f225-28f66620f904-22099e30, #w-node-e9b4c887-1328-20d4-0dc5-c51cdefcedfa-22099e30 {
  justify-self: start;
}

#w-node-b224ec27-30fa-be84-48bf-7ed471542af3-22099e33 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627ca17-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca1c-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca21-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca26-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca2c-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca32-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca38-22099e33 {
  justify-self: start;
}

#w-node-_5d224905-8a1e-1460-7532-d38cb7ec37c1-22099e33, #w-node-_40538c8c-870b-b365-34c4-2a06f0f8567d-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb45-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb5e-22099e33 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb61-22099e33 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb63-22099e33 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb66-22099e33 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cbb8-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc2-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc3-22099e33 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc31-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc36-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc3b-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc40-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc45-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc4a-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc54-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc59-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc5e-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc63-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc68-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc6d-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc72-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc77-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc7c-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc81-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc86-22099e33 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8a-22099e33 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8b-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc90-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc95-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc9a-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccaf-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb4-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb9-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccbe-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc3-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc8-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd2-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd7-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccdc-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce1-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce6-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cceb-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf0-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf5-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccfa-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccff-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd04-22099e33 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd08-22099e33 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd09-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd0e-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd13-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd18-22099e33, #w-node-_30684373-af34-3818-02a4-e58b3ffef3e5-22099e33, #w-node-_30684373-af34-3818-02a4-e58b3ffef3ea-22099e33, #w-node-_30684373-af34-3818-02a4-e58b3ffef3ef-22099e33, #w-node-_30684373-af34-3818-02a4-e58b3ffef3f4-22099e33, #w-node-_30684373-af34-3818-02a4-e58b3ffef3f9-22099e33, #w-node-_30684373-af34-3818-02a4-e58b3ffef3fe-22099e33, #w-node-_30684373-af34-3818-02a4-e58b3ffef403-22099e33, #w-node-_30684373-af34-3818-02a4-e58b3ffef408-22099e33, #w-node-_30684373-af34-3818-02a4-e58b3ffef40d-22099e33, #w-node-_30684373-af34-3818-02a4-e58b3ffef412-22099e33 {
  justify-self: start;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef416-22099e33 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef417-22099e33 {
  justify-self: start;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef41a-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd6b-22099e33, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd98-22099e33 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cdc7-22099e33, #w-node-_1ab12e57-1b61-3723-b12d-f8e0d12e893a-09d46411, #w-node-_573f4cff-4824-f652-13d4-04e40b3e6fec-09d46411, #w-node-_203b1ffb-e7ed-8522-f225-28f66620f904-09d46411, #w-node-e9b4c887-1328-20d4-0dc5-c51cdefcedfa-09d46411 {
  justify-self: start;
}


@font-face {
  font-family: 'Kimjungchulgothic';
  src: url('../fonts/KimjungchulGothic-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Kimjungchulgothic';
  src: url('../fonts/KimjungchulGothic-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Kimjungchulgothic';
  src: url('../fonts/KimjungchulGothic-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}