---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/sitemap.xsl"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">

  <!-- ===== 홈페이지 (hreflang 포함) ===== -->
  <url>
    <loc>https://imin2uk.com/</loc>
    <xhtml:link rel="alternate" hreflang="ko" href="https://imin2uk.com/"/>
    <xhtml:link rel="alternate" hreflang="en" href="https://imin2uk.com/en/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://imin2uk.com/"/>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://imin2uk.com/en/</loc>
    <xhtml:link rel="alternate" hreflang="ko" href="https://imin2uk.com/"/>
    <xhtml:link rel="alternate" hreflang="en" href="https://imin2uk.com/en/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://imin2uk.com/"/>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>

  <!-- ===== 블로그 목록 (hreflang 포함) ===== -->
  <url>
    <loc>https://imin2uk.com/blog/</loc>
    <xhtml:link rel="alternate" hreflang="ko" href="https://imin2uk.com/blog/"/>
    <xhtml:link rel="alternate" hreflang="en" href="https://imin2uk.com/blog-en/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://imin2uk.com/blog/"/>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://imin2uk.com/blog-en/</loc>
    <xhtml:link rel="alternate" hreflang="ko" href="https://imin2uk.com/blog/"/>
    <xhtml:link rel="alternate" hreflang="en" href="https://imin2uk.com/blog-en/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://imin2uk.com/blog/"/>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>

  <!-- ===== 문의하기 ===== -->
  <url>
    <loc>https://imin2uk.com/contact/</loc>
    <xhtml:link rel="alternate" hreflang="ko" href="https://imin2uk.com/contact/"/>
    <xhtml:link rel="alternate" hreflang="en" href="https://imin2uk.com/contact-en/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://imin2uk.com/contact/"/>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://imin2uk.com/contact-en/</loc>
    <xhtml:link rel="alternate" hreflang="ko" href="https://imin2uk.com/contact/"/>
    <xhtml:link rel="alternate" hreflang="en" href="https://imin2uk.com/contact-en/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://imin2uk.com/contact/"/>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>

  <!-- ===== 개인정보처리방침 ===== -->
  <url>
    <loc>https://imin2uk.com/privacy-policy/</loc>
    <xhtml:link rel="alternate" hreflang="ko" href="https://imin2uk.com/privacy-policy/"/>
    <xhtml:link rel="alternate" hreflang="en" href="https://imin2uk.com/privacy-policy-en/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://imin2uk.com/privacy-policy/"/>
    <changefreq>yearly</changefreq>
    <priority>0.3</priority>
  </url>
  <url>
    <loc>https://imin2uk.com/privacy-policy-en/</loc>
    <xhtml:link rel="alternate" hreflang="ko" href="https://imin2uk.com/privacy-policy/"/>
    <xhtml:link rel="alternate" hreflang="en" href="https://imin2uk.com/privacy-policy-en/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://imin2uk.com/privacy-policy/"/>
    <changefreq>yearly</changefreq>
    <priority>0.3</priority>
  </url>

  <!-- ===== 블로그 포스트 (Eleventy 컬렉션에서 자동 생성) ===== -->
{%- for page in collections.all %}
  {%- if page.url and page.data.slug %}
  {%- set slug = page.data.slug %}
  {%- set lang = page.data.language %}
  {%- set noKo = page.data.no_ko_page %}
  {%- set noEn = page.data.no_en_page %}
  {%- if lang == 'en' %}
    {%- set koSlug = slug | replace('-en', '') %}
    {%- set enSlug = slug %}
  {%- else %}
    {%- set koSlug = slug %}
    {%- set enSlug = slug + '-en' %}
  {%- endif %}
  <url>
    <loc>https://imin2uk.com/{{ slug }}/</loc>
    <lastmod>{{ page.date.toISOString() }}</lastmod>
    {%- if noKo %}
    <xhtml:link rel="alternate" hreflang="en" href="https://imin2uk.com/{{ slug }}/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://imin2uk.com/{{ slug }}/"/>
    {%- elif noEn %}
    <xhtml:link rel="alternate" hreflang="ko" href="https://imin2uk.com/{{ slug }}/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://imin2uk.com/{{ slug }}/"/>
    {%- else %}
    <xhtml:link rel="alternate" hreflang="ko" href="https://imin2uk.com/{{ koSlug }}/"/>
    <xhtml:link rel="alternate" hreflang="en" href="https://imin2uk.com/{{ enSlug }}/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://imin2uk.com/{{ koSlug }}/"/>
    {%- endif %}
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  {%- endif %}
{%- endfor %}
</urlset>
