<section class="footer">
      <div class="padding-global">
        <div class="container">
          <div class="footer-wrapper-two">
            <div class="footer-block-two">
              <a href="home-en.html" aria-current="page" class="footer-brand w-inline-block w--current"><img
                  src="images/Imin2UK_Logo_250802.svg" loading="lazy" alt="" class="nav_logo"></a>
              <div class="spacer-medium"></div>
              <div><strong class="text-size-medium">Imin2UK Ltd</strong></div>
              <div class="spacer-small"></div>
              <div>7 Bell Yard<br>London WC2A 2JR<br>United Kingdom</div>
              <div class="spacer-small"></div>
              <div>Company registered in England &amp; Wales: 10618691</div>
              <div class="spacer-small"></div>
              <div><strong>IAA (OISC) organisation ID: F202536098</strong><br></div>
            </div>
            <div class="footer-block-two">
              <div>
                <a href="contact-en.html" class="button button-enquiry w-button">Contact us</a>
              </div>
              <div class="spacer-small"></div>
              <div><strong class="text-color-secondary">info@imin2uk.com</strong></div>
              <div class="spacer-small"></div>
              <div class="text-size-large"><strong>+44 0203 916 5493</strong></div>
              <div class="spacer-medium"></div>
              <div class="div-block-3"><img src="images/WhatsApp_logo-150x150.png" loading="lazy" alt="WhatsApp Logo"
                  class="image-5">
                <div class="div-block-4">
                  <div class="text-size-medium">WhatsAPP:</div>
                  <div><strong class="text-size-medium">+44 0749 3700 551</strong><br></div>
                </div>
              </div>
            </div>
            <div class="footer-block-two">
              <a href="home-en.html" aria-current="page" class="footer-link w--current">Home</a>
              <a href="home-en.html#section_home_intro" class="footer-link">About us</a>
              <a href="home-en.html#section_home_slider" class="footer-link">Our services</a>
              <a href="home-en.html#section_home_process" class="footer-link">Application process</a>
              <a href="#" class="footer-link">Blog</a>
              <a href="privacy-policy-en.html" class="footer-link">Privacy policy</a>
            </div>
          </div>
          <div class="footer-divider-two"></div>
          <div class="footer-bottom">
            <div class="footer-copyright">© Imin2UK Ltd, 2025-2026. All rights reserved.</div>
            <div class="footer-copyright">
              <a href="home-en.html" aria-current="page" class="link-footer-bottom w--current">Imin2UK.com</a>
            </div>
          </div>
        </div>
      </div>
    </section>