<div class="nav_fixed">
      <div data-w-id="396176c6-906a-9f74-c6d0-8a4663dfdea9" data-animation="default" data-collapse="medium"
        data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="nav_component w-nav">
        <div class="padding-global">
          <div class="nav_container">
            <a href="/" class="nav_brand w-nav-brand"><img
                src="/images/Imin2UK_Logo_250802.svg" loading="lazy" alt="Imin2UK 로고" class="nav_logo"></a>
            <nav role="navigation" class="nav_menu w-nav-menu">
              <a href="/#section_home_intro" class="nav_menu_link w-nav-link">Imin2UK 소개</a>
              <div data-hover="true" data-delay="0" data-w-id="726457ca-a372-9369-1160-4e190d481c36"
                class="dropdown w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="text-block">서비스 분야</div>
                  <div data-w-id="726457ca-a372-9369-1160-4e190d481c38" class="icon w-icon-dropdown-toggle"></div>
                </div>
                <nav class="dropdown-list w-dropdown-list">
                  <a href="/student-visa" class="dropdown-link w-dropdown-link">학생 비자</a>
                  <a href="/skilled-worker" class="dropdown-link w-dropdown-link">취업 비자</a>
                  <a href="/global-business-mobility" class="dropdown-link w-dropdown-link">주재원</a>
                  <a href="/settlement" class="dropdown-link w-dropdown-link">영주권·시민권</a>
                </nav>
              </div>
              <a href="/#section_home_process" class="nav_menu_link w-nav-link">비자 신청 프로세스</a>
              <a href="/blog" class="nav_menu_link w-nav-link">블로그</a>
              <div class="div-block enquire-button">
                <a href="/contact" class="button button-enquiry w-button">문의하기</a>
              </div>
              <a href="https://www.youtube.com/@imin2uk" target="_blank"
                class="youtube-icon-wrapeer w-inline-block"><img src="/images/youtube_icon.svg" loading="lazy"
                  alt="Go to YouTube channel" class="youtube-icon"></a>
              <div class="youtube-link-block-wrapper">
                <a href="https://www.youtube.com/@imin2uk" target="_blank"
                  class="link-block link-youtube w-inline-block">
                  <div class="div-block-6"><img src="/images/youtube_icon.svg" loading="lazy" alt="Go to YouTube channel"
                      class="image-6">
                    <div class="text-block-2">이민투유케이 유튜브 채널</div>
                  </div>
                </a>
              </div>
              <a href="#" id="btn-lang-en" class="nav_menu_link w-nav-link lang-switcher"><img src="/images/gb.svg" alt="Switch to English" width="20" height="15" class="lang-flag">English</a>
            </nav>
            <div class="nav_button w-nav-button"><img src="/images/burger_icon.svg" loading="lazy"
                data-w-id="18b3785a-c509-c4ff-2a7b-c2b89468bbf2" alt="Close menu" class="image"><img
                src="/images/close_icon.svg" loading="lazy" data-w-id="1f544d3e-63ef-1660-846e-45f4560d68ef"
                alt="Open menu" class="image-2"></div>
          </div>
        </div>
      </div>
    </div>