<div class="nav_fixed">
      <div data-w-id="d8a3d71c-8596-c4ad-c777-8ebb668a2b16" data-animation="default" data-collapse="medium"
        data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="nav_component w-nav">
        <div class="padding-global">
          <div class="nav_container">
            <a href="/en/" class="nav_brand w-nav-brand"><img
                src="/images/Imin2UK_Logo_250802.svg" loading="lazy" alt="Imin2UK Logo" class="nav_logo"></a>
            <nav role="navigation" class="nav_menu w-nav-menu">
              <a href="/en#section_home_intro" class="nav_menu_link w-nav-link">About us</a>
              <div data-hover="true" data-delay="0" data-w-id="d8a3d71c-8596-c4ad-c777-8ebb668a2b21"
                class="dropdown w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="text-block">Our services</div>
                  <div data-w-id="d8a3d71c-8596-c4ad-c777-8ebb668a2b25" class="icon w-icon-dropdown-toggle"></div>
                </div>
                <nav class="dropdown-list w-dropdown-list">
                  <a href="/hk-bno-visa-en" class="dropdown-link w-dropdown-link">HK BN(O) visa</a>
                  <a href="/student-visa-en" class="dropdown-link w-dropdown-link">Student visa</a>
                  <a href="/skilled-worker-en" class="dropdown-link w-dropdown-link">Work visa</a>
                  <a href="/global-business-mobility-en" class="dropdown-link w-dropdown-link">GBM scheme</a>
                  <a href="/settlement-en" class="dropdown-link w-dropdown-link">ILR &amp; citizenship</a>
                </nav>
              </div>
              <a href="/en#section_home_process" class="nav_menu_link w-nav-link">Application process</a>
              <a href="/blog-en" class="nav_menu_link w-nav-link">Blog</a>
              <div class="div-block enquire-button">
                <a href="/contact-en" class="button button-enquiry w-button">Contact us</a>
              </div>
              <a href="#" id="btn-lang-ko" class="nav_menu_link w-nav-link lang-switcher" aria-label="Switch to Korean"><img src="/images/kr.svg" alt="한국어로 전환" width="20" height="15" class="lang-flag"> 한국어</a>
            </nav>
            <div class="nav_button w-nav-button"><img src="/images/burger_icon.svg" loading="lazy"
                data-w-id="d8a3d71c-8596-c4ad-c777-8ebb668a2b37" alt="Close menu" class="image"><img
                src="/images/close_icon.svg" loading="lazy" data-w-id="d8a3d71c-8596-c4ad-c777-8ebb668a2b38"
                alt="Open menu" class="image-2"></div>
          </div>
        </div>
      </div>
    </div>